html, body{
	width: 100%;
	padding: 0;
	margin: 0;
}

/***************************************************************
***************************************************************
ESTILO MENSAJES
***************************************************************
***************************************************************/
/*

*/

.vereda{
background-color:rgb(227,247,238);
display: flex;
align-items: center;
}

.img-centrada{
  width: 100%;
  margin: auto;
  position: relative;
}

#imagenFondo{
	width:100%;
	position: relative;
	z-index:100;
}

#imagenFondo img{
	width: 100%;
}

.gris1{
	background-color:#D3D3D3;
}

#webshader{
	width: 95%;
	height: 98%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index:0;
}

#link1{
	position: absolute;
	top: 20%;
	left: 2%;
	z-index: 200;
}

#link2{
	position: absolute;
	bottom: 40%;
	right: 15%;
	z-index: 200;
}

#texto1{
	width: 20%;
	position: absolute;
	bottom:15%;
	left:8%;
	z-index: 200;
}

#texto2{
	position: absolute;
	width: 20%;
	bottom:30%;
	right:5%;
	z-index: 200;
}

#texto3{
	width: 30%;
	position: absolute;
	bottom:45%;
	right: 10%;
	z-index: 200;
}

#texto4{
	position: absolute;
	bottom:5%;
	left: 10%;
	z-index: 200;
}

.textohid{
  background-color: rgb(227,247,238);
  font-family: "Lucida Handwriting", cursive;
  font-size: 2vw;
  color: rgb(227,247,238);
}

.textohid :hover{
  background-color: rgb(255, 166, 214);
  color: black;
  font-family: "Lucida Handwriting", cursive;
  font-size: 2vw;
}


/***************************************************************
***************************************************************
ESTILO OSCURIDAD
***************************************************************
***************************************************************/
/*

*/

#contenidoOscuro{
	width:100%;
	position: relative;
	background-color: black;
}

#imagenDetras img{
	padding: 0;
	margin: 0;
	width: 100%;
	height: auto;
	position: relative;
	z-index: 0;
}

#oscuridad{
	height: 100%;
	width: 100%;
	background-color: black;
	position: absolute;
	top:0;
	left: 0:;
	z-index: 10;
	opacity: 1;
}

#link3{
	position: absolute;
	top: 40%;
	left: 10%;
	z-index: 200;
}

#link4{
	position: absolute;
	bottom: 5%;
	right: 30%;
	z-index: 200;
}

/***************************************************************
***************************************************************
ESTILO POSTERS
***************************************************************
***************************************************************/
/*

*/

.fila-posters{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.fila-posters div{
	padding-top: 2%;
}

#link5{
 height: 100px;
 width: 100px;
}

#link6{
 height: 100px;
 width: 100px;
}


.linksabajo{
	padding: 1%;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}